*cache*
*.pyc
.vscode
*.h5

*.lock

dist
MANIFEST
*.egg-info
build

Pipfile*

fingym/data/**20.csv
fingym/data/**cci.csv
fingym/data/**daily.csv
fingym/data/**obv.csv
fingym/data/**rsi.csv
fingym/data/**9.csv
fingym/data/**50.csv
fingym/data/**200.csv

